<div class="container mt-3">
  <div class="a">
    <h2>Crea un servicio</h2>
    <%= simple_form_for (@service) do |f| %>
    <div class="form-inputs row justify-content-center g-3 mb-3">
      <div class="col-12 col-lg-12">
        <%= f.input :title, label: "Describe tu servicio en pocas palabras", input_html: { class: 'form-control pill'}  %>
      </div>
      <div class="col-12 col-lg-12">
        <%= f.input :description, label: "Aquí entrega detalles del servicio que ofrecerás", input_html: { class: 'form-control pill'}  %>
      </div>
      <div class="col-12 col-lg-12">
        <%= f.input :category, as: :select, collection: ["gasfiteria", "carpinteria", "electricidad", "limpieza", "pintura", "servicio técnico"], label: "Categoría", input_html: { class: 'form-control pill'}  %>
      </div>
      <div class="col-12 col-lg-12">
        <%= f.input :price, label: "¿Qué precio cobrarás por este servicio?", input_html: { class: 'form-control pill'}  %>
      <div class="col-12 col-lg-12">
        <%= f.input :photo, as: :file, label: "Agrega una foto de tu servicio" %>
      </div>
      <div class="col-12 col-lg-12">
        <%= f.submit "Guardar", class:"btn btn-primary pill" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

