<div class="container mt-3">
  <div class="card">
    <h5 class="card-header"><%= @service.category.capitalize %></h5>
    <div class="card-body d-flex row">
      <div class="card-body-service-show d-flex flex-column col-4">
        <div class="card-body-service-show-info mt-3">
          <h2 class="card-title"><%= @service.title %></h4>
          <p class="card-text"><%= @service.description %></p>
          <p class="card-text"><strong>$ <%= number_with_delimiter(@service.price, :delimiter => '.')%></strong></p>
        </div>
        <div class="card-body-service-show-buttons mt-3">
          <% if @service.user != current_user %>
            <%= link_to "Agendar", new_service_booking_path(@service), class:"btn btn-primary pill me-2" %>
          <% end %>
          <%= link_to "Perfil", user_path(@user), class:"btn btn-success pill" %>
        </div>
      </div>
      <div class="card-body-service-show-photo col-4">
        <img src="<%= cl_image_path @service.photo.key, height: 500, crop: :fill %>" alt="Nes">
      </div>
    </div>
  </div>
</div>