<div class="container mt-3">
  <div class="a">
    <h2>Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs row justify-content-center g-3 mb-3">
        <div class="col-12 col-lg-12">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "pill" }%>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name", class: "pill" }%>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name", class: "pill" }%>
        </div>
        <div class="col-12 col-lg-12">
          <%= f.input :address,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "address", class: "pill" } %>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "pill" } %>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", class: "pill" } %>
        </div>
        <div class="col-12 form-check form-switch">
          <%= f.input :owner, :as => :boolean, input_html: {checked: false}, label: '¿Te registras como un profesional/técnico colaborador?' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary pill" %>
        <%= link_to "Cancel", root_path, class: "btn btn-secondary pill" %>
      </div>
    <% end %>
    <div class="mt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>