<div class="card mt-3">
  <p>Servicio agendado por: <%= User.find(booking.user_id).first_name %></p>
  <p>El Servicio pertenece a: <%= User.find(booking.service.user_id).first_name %></p>
  <p>Nombre del servicio: <%= booking.service.title %></p>
  <p>descripción del servicio: <%= booking.service.description %></p>
  <p>Fecha de inicio: <%= booking.start_date %></p>
  <% if booking.end_date %>
    <p>Fecha de termino: <%= booking.end_date %></p>
  <% end %>
</div>