<div class="container mt-3">
  <div class="card ">
    <div class="card-header"> 
      <ul class="nav nav-tabs card-header-tabs"  id="myTab" role="tablist">
        <% if current_user.owner %>
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Trabajos abiertos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Trabajos cerrados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Solicitudes abiertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="thing-tab" data-toggle="tab" href="#thing" role="tab" aria-controls="thing" aria-selected="false">Solicitudes cerradas</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Solicitudes abiertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="thing-tab" data-toggle="tab" href="#thing" role="tab" aria-controls="thing" aria-selected="false">Solicitudes cerradas</a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-body">
      <!-- Cards trabajos ofrecidos ACTIVOS -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <% @bookings.each do |booking| %>
            <% if booking.service.user_id == current_user.id && !booking.end_date %>
              <div class="booking-card card mt-2">
                <div class="row">
                  <div class="col-6">
                    <h4><%= booking.service.title.capitalize %></h4>
                    <p>Cliente: <%= User.find(booking.user_id).first_name %> <%= User.find(booking.user_id).last_name %></p>
                    <p><%= booking.service.description %></p>
                  </div>
                  <div class="col-6">
                    <p>Servicio agendado para el <%= booking.start_date.strftime("%d-%m-%Y a las %k:%M %p")%></p>
                    <p>Servicio activo</p>
                    <a class="btn btn-primary pill" href="<%= status_booking_path(booking) %>">Status</a>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- Cards trabajos ofrecidos CERRADOS -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <% @bookings.each do |booking| %>
            <% if booking.service.user_id == current_user.id && booking.end_date %>
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="booking-card card mt-2">
                  <div class="row">
                    <div class="col-6">
                      <h4><%= booking.service.title.capitalize %></h4>
                      <p>Cliente: <%= User.find(booking.user_id).first_name %> <%= User.find(booking.user_id).last_name %></p>
                      <p><%= booking.service.description %></p>
                    </div>
                    <div class="col-6">
                      <p>Servicio agendado para el <%= booking.start_date.strftime("%d-%m-%Y a las %k:%M %p")%></p>
                      <p>Servicio terminado el: <%= booking.end_date.strftime("%d-%m-%Y a las %k:%M %p") %></p>
                      <a class="btn btn-primary pill disabled" href="<%= status_booking_path(booking) %>" aria-disabled="true" >Status</a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- Cards trabajos contratados ACTIVOS, falta agregar show active-->
        <% if current_user.owner %>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <% else %>
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <% end %>
          <% @bookings.each do |booking| %>
            <% if booking.user_id == current_user.id && !booking.end_date %>
              <div class="booking-card card mt-2">
                <div class="row">
                  <div class="col-6">
                    <h4><%= booking.service.title.capitalize %></h4>
                    <h6>Número de orden: <%= booking.id %></h6>
                    <p>Técnico: <%= User.find(booking.service.user_id).first_name %> <%= User.find(booking.service.user_id).last_name %></p>
                    <p><%= booking.service.description %></p>
                  </div>
                  <div class="col-6">
                    <p>Servicio agendado para el <%= booking.start_date.strftime("%d-%m-%Y a las %k:%M %p")%></p>
                    <p>Servicio activo</p>
                    <a class="btn btn-primary pill" href="<%= status_booking_path(booking) %>">Status</a>
                    <a class="btn btn-secondary pill disabled ms-2" href="<%= new_booking_review_path(booking.id) %> aria-disabled="true"">Review</a>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- Cards trabajos contratados CERRADOS -->
        <div class="tab-pane fade" id="thing" role="tabpanel" aria-labelledby="thing-tab">
          <% @bookings.each do |booking| %>
            <% reviewers = [] %>
            <% if booking.user_id == current_user.id && booking.end_date %>
              <div class="booking-card card mt-2">
                <div class="row">
                  <div class="col-6">
                    <h4><%= booking.service.title.capitalize %></h4>
                    <p>Técnico: <%= User.find(booking.service.user_id).first_name %> <%= User.find(booking.service.user_id).last_name %></p>
                    <p><%= booking.service.description %></p>
                  </div>
                  <div class="col-6">
                    <p>Servicio agendado para el <%= booking.start_date.strftime("%d-%m-%Y a las %k:%M %p")%></p>
                    <p>Servicio terminado el: <%= booking.end_date.strftime("%d-%m-%Y a las %k:%M %p") %></p>
                    <a class="btn btn-primary pill " href="<%= status_booking_path(booking) %>">Status</a>
                    <% booking.reviews.each do |review| %>
                      <% reviewers << review.user_id %>
                    <% end %>
                    <% if reviewers.include?(current_user.id) %>
                      <a class="btn btn-secondary pill disabled ms-2" href="<%= new_booking_review_path(booking.id) %> aria-disabled="true"">Review</a>
                    <% else %>
                      <a class="btn btn-success pill ms-2" href="<%= new_booking_review_path(booking.id) %>">Review</a>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>