<div class="container">
  <% if current_user.owner  %>
    <h1>Servicios abiertos</h1>
      <% @bookings.each do |booking| %>
        <% if booking.service.user_id == current_user.id && !booking.end_date %>
          <%= render "details", booking: booking %>
          <%= link_to "Status", status_booking_path(booking)%>
        <% end %>
      <% end %>
      <h1>historial de servicio</h1>
      <% @bookings.each do |booking| %>
        <% if booking.service.user_id == current_user.id && booking.end_date %>
          <%= render "details", booking: booking %>
        <% end %>
      <% end %>
  <% end %>
  <h1>Mis servicios abiertos</h1>
  <% @bookings.each do |booking| %>
    <% if booking.user_id == current_user.id && !booking.end_date %>
      <%= render "details", booking: booking %>
      <%= link_to "Status", status_booking_path(booking)%>
    <% end %>
  <% end %>
  <% reviewers = [] %>
  <h1>Mi historial de servicios</h1>
  <% @bookings.each do |booking| %>
    <% if booking.user_id == current_user.id && booking.end_date %>
      <%= render "details", booking: booking %>
        <% booking.reviews.each do |review| %>
          <% reviewers << review.user_id %>
        <% end %>
          <% if reviewers.include?(current_user.id) %>
          <p>no</p>
          <%= reviewers %>
          <% else %>
          <p>si</p>
          <%= reviewers %>
            <%= link_to "Review", new_booking_review_path(booking.id) %>
          <% end %>
      <% end %>
    <% end %>
</div>
