<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h2><%= @service.title.capitalize %></h2>
          <h5>Ofrecido por <%= @service.user.first_name %> <%= @service.user.last_name %></h5>
          <h6 class="card-text"><%= @service.description %></h6>
          <h6 class="card-text"><strong>Precio: $ <%= number_with_delimiter(@service.price, :delimiter => '.')%></strong></h6>
        </div>
        <div class="card-footer">
          <%= simple_form_for [@service, @booking] do |f| %>
            <%= f.input :address,
                          label: "¿Dónde necesitas el servicio?",
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "address", class: "pill" } %>
            <%= f.input :start_date, label: "¿Cuándo necesitas el servicio? (Los servicios se agendan con un minimo de 24 horas de anticipación)", as: :string, input_html: { class: "datepicker pill" } %>
            <%= render 'payment' %>
            <%= f.submit "Confirmar", class:"btn btn-primary pill" %>
            <%= link_to "Cancelar", services_path, class: "btn btn-primary pill ms-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


