<div class="container">
  <ul>
  <li><%= @service.title %></li>
  <li><%= @service.user.first_name %> <%= @service.user.last_name %></li>
  <li><%= @service.price %></li>
  </ul>
  <%= simple_form_for [@service, @booking] do |f| %>
    <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "address" } %>
    <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.submit "Confirmar", class:"btn btn-primary" %>
  <% end %>
</div>




