<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="container mb-3">

          <h5 class="mt-3">Estimado <%= @booking.user.first_name %></h5>

          <p>La orden <strong>#<%= @booking.id %></strong> fue generada con éxito. Serás contactado en un plazo máximo de 24 horas por el técnico</p>


          <p>Haz click en continuar para acceder el menú del servicio y contactarse con el técnico.</p>

          <p>Todos los detalles de la orden fueron enviados a <%= @booking.user.email %></p>
          <p>Recuerda que cualquier consulta se hace a través del número de orden.</p>

          <%= link_to "Continuar", status_booking_path(@booking), class: "btn btn-primary me-2 pill" %>
          <%= link_to "Volver a inicio", root_path, class: "btn btn-secondary pill" %>
        </div>
      </div>
    </div>
  </div>
</div>