<div class="container mt-3">
  <p>Estimado <%= @booking.user.first_name %></p>

  <p>La orden fue generada con éxito. Serás contactado en un plazo máximo de 24 horas por el colaborador</p>
  <p>Los detalles de la orden fueron enviados a <%= @booking.user.email %></p>

  <p>Tu número de orden es <%= @booking.id %></p>

  <p>Recuerda que cualquier consulta se hace a través del número de orden.</p>

  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Contactar", booking_chat_path(@booking) %></li>
    <li class="list-group-item"><a href="#">Datos del profesional</a></li>
    <li class="list-group-item"><a href="#">Detalles del sevicio</a></li>
    <li class="list-group-item"><%= link_to "Calificar", new_booking_review_path(@booking) %></li>
    <li class="list-group-item"><a href="#">Terminar</a></li>
  </ul>
</div>