<div class="container mt-3">
  <div class="row">
    <div class="card col-12 col-sm-4">
      <div class="d-flex justify-content-center">
        <img src="#" alt="" class="rounded-circle mt-2" style="background-color:gray; width: 150px; height: 150px">
      </div>  
      <div class="card-body">
        <h3 class="card-title text-center"><%= @user.first_name %> <%= @user.last_name %></h5>
        <h6 class="card-text text-center"><%= @user.email %></p>
          <% sum_review = 0 %>
          <% count_review = 0 %>
          <% @user.services.each do |service| %>
            <% service.bookings.each do |booking| %>
              <% booking.reviews.each do |review| %>
                <% sum_review += review.rating.to_f  %>
                <% count_review += 1 %>
              <% end %>
            <% end %>
          <% end %>
          <% if count_review != 0 %>
            <% prom_review = sum_review / count_review %>
          <% else %>
            <% prom_review = 0 %> 
          <% end %>
        <h5 class="card-text text-center"><%= link_to "#{prom_review.round(1)}", user_reviews_path(@user) %><i class="fas fa-star"></i></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Reseñas: <%= count_review %></li>
          <% booking_count = 0 %>
          <% @user.services.each do |service| %>
            <% service.bookings.each do |booking| %>
              <% if booking.end_date != nil %>
                <% booking_count += 1 %>
              <% end %>
            <% end %>
          <% end %>
        <li class="list-group-item">Trabajos realizados: <%= booking_count %></li>
          <% open_bookings = 0 %>
          <% @user.services.each do |service| %>
            <% service.bookings.each do |booking| %>
              <% if booking.end_date == nil %>
                <% open_bookings += 1 %>
              <% end %>
            <% end %>
          <% end %>
        <li class="list-group-item">Servicios: <%= @services.count %></li>
      </ul>
      <% if @user == current_user && @user.owner %>
        <div class="card-body d-flex justify-content-around">
          <%= link_to "Agregar servicio", new_service_path(@service), class: "btn btn-primary pill" %>
          <%= link_to "Editar perfil", edit_user_registration_path(@user), class: "btn btn-warning pill" %>
          <span class="position-relative "><%= link_to "Bookings", bookings_path, class: "btn btn-success pill" %>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              <%= open_bookings %>
              <span class="visually-hidden">unread messages</span>
            </span>
          </span>
        </div>
      <% end %>
    </div>
    <!---------------------------MAP--------------------------------->
    <div class="col-12  col-sm-8 ">
      <div id="map"
        style="width: 100%; height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div> 

  <div class="row">
    <p>Lista de servicios</p>
    <div class="container mt-3"> 
      <% @services.each do |service| %>
        <div class="card mb-2">
          <div class="card-header">
            <%= service.category.capitalize %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= service.title.capitalize %></h5>
            <p class="card-text"><%= service.description %></p>
            <div class="d-flex ">
              <%= link_to 'Mostrar mas', service_path(service.id), class: "text-decoration-none me-3" %>

              <% if policy(service).edit? %>
                <%= link_to "Edit", edit_service_path(service.id), class:"text-warning text-decoration-none me-3" %>
              <% end %>

              <% if policy(service).destroy? %>
                <%= link_to "Borrar", service_path(service.id), method: :delete, data: { confirm: "Are you sure?" }, class:"text-danger text-decoration-none" %></th>

              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>