
<%= @user.first_name %> <%= @user.last_name %>

<% sum_review = 0 %>
<% count_review = 0 %>

<% @user.services.each do |service| %>
  <% service.bookings.each do |booking| %>
    <% booking.reviews.each do |review| %>
      <% sum_review += review.rating.to_f  %>
      <% count_review += 1 %>
    <% end %>
  <% end %>
<% end %>
    <% if count_review != 0 %>
      <% prom_review = sum_review / count_review %>
      <%= link_to "#{prom_review.floor(1)}", user_reviews_path(@user) %>
    <% end %>

<div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<p>Lista de servicios</p>

<div class="container mt-3"> 
  <% @services.each do |service| %>
    <div class="card mb-2">
      <div class="card-header">
        <%= service.category.capitalize %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= service.title.capitalize %></h5>
        <p class="card-text"><%= service.description %></p>
        <div class="d-flex ">
          <%= link_to 'Mostrar mas', service_path(service.id), class: "text-decoration-none me-3" %>

          <% if policy(service).edit? %>
            <%= link_to "Edit", edit_service_path(service.id), class:"text-warning text-decoration-none me-3" %>
          <% end %>

          <% if policy(service).destroy? %>
            <%= link_to "Borrar", service_path(service.id), method: :delete, data: { confirm: "Are you sure?" }, class:"text-danger text-decoration-none" %></th>

          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>