<div class="header d-flex justify-content-center align-items-center">
  <div class="container">
    <p class="text-center text-white fs-2">Encuentra el servicio que necesites para tu próximo proyecto.</p>
    <div class="typed d-flex justify-content-center align-items-center">
      <span class="typed-js text-white fs-5 my-3"></span>
    </div>
    <%= render 'services/searcher' %>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2>Categorias principales</h2>
      <div class="row">
        <div class="categories d-flex col-12 col-sm-2 mt-3">
          <a class="text-decoration-none" href="services?query=gasfiteria">
            <div class="circle-card lh-sm shadow rounded-circle" id="gasf">Gasfitería</div>
          </a>
          <a class="text-decoration-none" href="services?query=electricidad">
            <div class="circle-card lh-sm shadow rounded-circle" id="elec">Electricidad</div>
          </a>
          <a class="text-decoration-none" href="services?query=servicio técnico">
            <div class="circle-card lh-sm shadow rounded-circle" id="serv">Servicio<br>Técnico</div>
          </a>
          <a class="text-decoration-none" href="services?query=carpintería">
            <div class="circle-card lh-sm shadow rounded-circle" id="carp">Carpintería</div>
          </a>
          <a class="text-decoration-none" href="services?query=pintura">
            <div class="circle-card lh-sm shadow rounded-circle" id="pint">Pintura</div>
          </a>
          <a class="text-decoration-none" href="services?query=limpieza">
            <div class="circle-card lh-sm shadow rounded-circle" id="limp">Limpieza</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="container mt-5">Te sugerimos</h3>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
  <div class="flex-container">

    <div class="carousel-inner">
      <!-- CAROUSEL ITEM 1 -->
      <div class="carousel-item active">
        <div class="cards-wrapper" id="cards-wrapper-home">
          <% @top_services.each_with_index do |service, i| %>
            <%if i <= 3  %>
              <a id="card-link" href="<%= service_path(service)%>">
                <div class="card_contact">
                  <img src="<%= cl_image_path service.photo.key, height: 100, crop: :fill %>" alt="...">
                  <div class="card-body" id="card-body-home">
                    <h5 class="card-title" id="card-info"><%= service.title %></h5>
                    <!-- rating -->
                    <% sum_review = 0 %>
                    <% count_review = 0 %>
                    <% User.find(service.user.id).services.each do |service| %>
                      <% service.bookings.each do |booking| %>
                        <% booking.reviews.each do |review| %>
                          <% sum_review += review.rating.to_f  %>
                          <% count_review += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if count_review != 0 %>
                      <% prom_review = sum_review / count_review %>
                    <% else %>
                      <% prom_review = 0 %> 
                    <% end %>
                    <h6 class="card-text" id="card-info"><i class="fas fa-star"></i>  <%= prom_review.round(1) %></h6>
                    <h6 class="card-address" id="card-info"><i class="fas fa-map-marker-alt"></i> <%= service.user.address %> </h6>
                  </div>
                </div>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- CAROUSEL ITEM 1 -->
      <div class="carousel-item">
        <div class="cards-wrapper" id="cards-wrapper-home">
          <% @top_services.each_with_index do |service, i| %>
            <%if i > 3  %>
              <a id="card-link" href="<%= service_path(service)%>">
                <div class="card_contact">
                  <img src="<%= cl_image_path service.photo.key, height: 100, crop: :fill %>" alt="...">
                  <div class="card-body" id="card-body-home">
                    <h5 class="card-title" id="card-info"><%= service.title %></h5>
                    <!-- rating -->
                    <% sum_review = 0 %>
                    <% count_review = 0 %>
                    <% User.find(service.user.id).services.each do |service| %>
                      <% service.bookings.each do |booking| %>
                        <% booking.reviews.each do |review| %>
                          <% sum_review += review.rating.to_f  %>
                          <% count_review += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if count_review != 0 %>
                      <% prom_review = sum_review / count_review %>
                    <% else %>
                      <% prom_review = 0 %> 
                    <% end %>
                    <h6 class="card-text" id="card-info"><i class="fas fa-star"></i>  <%= prom_review.round(1) %></h6>
                    <h6 class="card-address" id="card-info"><i class="fas fa-map-marker-alt"></i> <%= service.user.address %> </h6>
                  </div>
                </div>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- CAROUSEL ITEM 3-->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
<%= render 'shared/footer' %>