<div class="header d-flex justify-content-center align-items-center">
  <div class="container">
    <h2 class="text-center text-white">Encuentra el servicio que necesites para tu próximo proyecto.</h2>
    <h4 class="text-center text-white my-3">Tenemos a disposición más de 200 profesionales y técnicos en tu cuidad.</p>
    <%= render 'services/searcher' %>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2>Categorias principales</h2>
      <div class="row">
        <div class="d-flex col-12 mt-3">
          <div class="col"><a class="circle_button txt-btn" href="services?query=gasfiteria" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1538474705339-e87de81450e8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80')">Gasfiter</a></div>
          <div class="col"><a class="circle_button txt-btn" href="services?query=electricidad" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cdn.pixabay.com/photo/2017/09/16/14/33/electrician-2755682_960_720.jpg')">Electricidad</a></div>
          <div class="col"><a class="circle_button txt-btn" href="services?query=servicio técnico" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=937&q=80')">Servicio técnico</a></div>
          <div class="col"><a class="circle_button txt-btn" href="services?query=carpinteria" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1544164560-adac3045edb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=354&q=80')">Carpinteria </a></div>
          <div class="col"><a class="circle_button txt-btn" href="services?query=pintura" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1621685682093-3b8016dcb57d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80')">Pintura </a></div>
          <div class="col"><a class="circle_button txt-btn" href="services?query=limpieza" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1581578731548-c64695cc6952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80')">Limpieza </a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="container mt-5">Te sugerimos</h3>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
  <div class="flex-container">

    <div class="carousel-inner">
      <!-- CAROUSEL ITEM 1 -->
      <div class="carousel-item active">
        <div class="cards-wrapper" id="cards-wrapper-home">
          <% @top_services.each_with_index do |service, i| %>
            <%if i <= 3  %>
              <a id="card-link" href="<%= service_path(service)%>">
                <div class="card_contact">
                  <img src="<%= cl_image_path service.photo.key, height: 100, crop: :fill %>" alt="...">
                  <div class="card-body" id="card-body-home">
                    <h5 class="card-title" id="card-info"><%= service.title %></h5>
                    <!-- rating -->
                    <% sum_review = 0 %>
                    <% count_review = 0 %>
                    <% User.find(service.user.id).services.each do |service| %>
                      <% service.bookings.each do |booking| %>
                        <% booking.reviews.each do |review| %>
                          <% sum_review += review.rating.to_f  %>
                          <% count_review += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if count_review != 0 %>
                      <% prom_review = sum_review / count_review %>
                    <% else %>
                      <% prom_review = 0 %> 
                    <% end %>
                    <h6 class="card-text" id="card-info"><i class="fas fa-star"></i>  <%= prom_review.round(1) %></h6>
                    <h6 class="card-address" id="card-info"><i class="fas fa-map-marker-alt"></i> <%= service.user.address %> </h6>
                  </div>
                </div>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- CAROUSEL ITEM 1 -->
      <div class="carousel-item">
        <div class="cards-wrapper" id="cards-wrapper-home">
          <% @top_services.each_with_index do |service, i| %>
            <%if i > 3  %>
              <a id="card-link" href="<%= service_path(service)%>">
                <div class="card_contact">
                  <img src="<%= cl_image_path service.photo.key, height: 100, crop: :fill %>" alt="...">
                  <div class="card-body" id="card-body-home">
                    <h5 class="card-title" id="card-info"><%= service.title %></h5>
                    <!-- rating -->
                    <% sum_review = 0 %>
                    <% count_review = 0 %>
                    <% User.find(service.user.id).services.each do |service| %>
                      <% service.bookings.each do |booking| %>
                        <% booking.reviews.each do |review| %>
                          <% sum_review += review.rating.to_f  %>
                          <% count_review += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if count_review != 0 %>
                      <% prom_review = sum_review / count_review %>
                    <% else %>
                      <% prom_review = 0 %> 
                    <% end %>
                    <h6 class="card-text" id="card-info"><i class="fas fa-star"></i>  <%= prom_review.round(1) %></h6>
                    <h6 class="card-address" id="card-info"><i class="fas fa-map-marker-alt"></i> <%= service.user.address %> </h6>
                  </div>
                </div>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- CAROUSEL ITEM 3-->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
<%= render 'shared/footer' %>