<% review_total = 0 %>
<% rating_one = 0 %>
<% rating_two = 0 %>
<% rating_three = 0 %>
<% rating_four = 0 %>
<% rating_five = 0 %>

  <% @user.services.each do |service| %>
    <% service.bookings.each do |booking| %>
      <% booking.reviews.each do |review| %>
        <% review_total += 1 %>
        <% case review.rating %>
          <% when 1 %>
          <% rating_one += 1 %>
          <% when 2 %>
          <% rating_two += 1 %>
          <% when 3 %>
          <% rating_three += 1 %>
          <% when 4 %>
          <% rating_four += 1 %>
          <% when 5 %>
          <% rating_five += 1 %>
        <% end %>
      <% end %>
    <% end %>
  <% end %> 
</div>

<% rating_one_porce = rating_one.to_f / review_total * 100 %>
<% rating_two_porce = rating_two.to_f / review_total * 100 %>
<% rating_three_porce = rating_three.to_f / review_total * 100 %>
<% rating_four_porce = rating_four.to_f / review_total * 100 %>
<% rating_five_porce = rating_five.to_f / review_total * 100 %>

<div class="container mt-3">
  <div class="row">
    <div class="card col-12 col-sm-4">
      <div class="d-flex justify-content-center">
        <img src="#" alt="" class="rounded-circle mt-2" style="background-color:gray; width: 150px; height: 150px">
      </div>  
      <div class="card-body">
        <h3 class="card-title text-center"><%= @user.first_name %> <%= @user.last_name %></h3>
        <p class="card-title text-center">Reseñas: <%= review_total %></p>
      </div>
    </div>
    <div class="card col-sm-8">
      <div class="review-wapper">
        <div class="container-stars">
          <div>
            <span>1 ✨</span>
          </div>
          <div>
            <span>2 ✨</span>
          </div>
          <div>
            <span>3 ✨</span>
          </div>
          <div>
            <span>4 ✨</span>
          </div>
          <div>
            <span>5 ✨</span>
          </div>
        </div>
        <div class="container-graficos">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= rating_one_porce %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= rating_two_porce %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= rating_three_porce %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= rating_four_porce %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= rating_five_porce %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="container-rating-number">
          <span><%= rating_one %></span>
          <span><%= rating_three %></span>
          <span><%= rating_four %></span>
          <span><%= rating_five %></span>
          <span><%= rating_two %></span>
        </div>
      </div>
    </div>
  </div>
  
<div class="container">
  <% @user.services.each do |service| %>
    <% service.bookings.each do |booking| %>
      <% booking.reviews.each do |review| %>
        <div class="card">
          <div class="card-body">
            <%= User.find(review.user_id).first_name %>
            <%= review.rating %>
            <%= review.content %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>      
      
      
